<h1>TinyApp</h1>

<%if (!username) { %>
    <form action="/login" method="POST">
    <input type="text" name="username">
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
<% } else { %>
    <h2>Logged in as: <%= username %></h2>
    <form action="">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>
<% } %>














